/* Global */
:root {
/* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-pink: #fe918d;
--color-dart-pink: #ff6863;
--color-black: #4d4d4d;
--color-dark-grey: #4d4d4d;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-blue: #73aace;
--color-yellow: #fff7d1;
--color-orange: #feb546;
--color-black: #000000;

/* Font Size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

/* Font Weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

/* Size */
--size-border-radius: 4px;

/* Animation 250~300ms가 적당*/
--animation-duration: 300ms; 
}
/* Universal tags */
*{
    box-sizing: border-box;
}
    

body {
    margin: 0;
    cursor: default; /*커서에 마우스가 올라가도 텍스트 표시로 바뀌지 않음 */
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

p{
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item{
    padding: 8px, 0;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);

}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
    background-color: var(--color-dart-pink);

}

/* Home */
#home{
    background: url('imgs/homebackground-200515-154505.png') center/cover no-repeat;
    /* center/cover no-repeat 반응형 웹으로 만들기 위한 이미지 옵션 추가 */
    padding: 40px;
    text-align: center;
}

.home__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description{
    color: var(--color-white);
}

.home__contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-light-white);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container{
    max-width: 1200px;    /* 윈도우에서 최대는 보통 1000 ~ 1200 을 많이 씀 */
    margin: auto;
}


/* about */
.about__majors{
    display: flex;  /* 3개의 컨텐츠를 한줄에 표현 */
    justify-content: space-between;  /* 3개의 컨텐츠 중간에 공간을 넣기 위함 */
    margin: 80px 0; /* 위아래 공간 벌림 */
}

/* 아이콘 크기를 키우고 둥글게 만들기 */
.major__icon{
    width: 170px;
    height: 170px;
    line-height: 170px; /* 아이콘을 중간에 정렬하기 위함, 라인 하잇을 크기만큼 주면 자동으로 중간 정렬됨 */
    font-size: 70px;  /* 어썸폰트도 폰트이므로 폰트로 사이즈 조절 */
    /* background-color: yellow; 임시로 배경 색을 넣어 작업을 쉽게 하기 위함 */
    margin: auto; /* 마진이 한쪽에만 들어있어 제대로 정렬이 안될 경우 */
    color: var(--color-blue);  /* 아이콘의 색을 블루로 지정 */
    border: 1px solid var(--color-black); /* 사각 푸른 경계 삽입 */
    border-radius: 50%; /* 둥글게 만듬 */
    margin-bottom: 16px; /* 아이콘과 아래 글자 사이에 간격을 벌림 */
}

.major__icon i { /* 아이콘이 천천히 돌아가도록 시간 설정 */
    transition: all var(--animation-duration);
}

.major__icon:hover i{   
    /* 1> .major__icon:hover <- 전체가 바뀜 
       2> .major__icon i:hover   <- 아이콘만 바뀜 (바깥 원 테두리는 안바꾸고 마우스가 테두리가 아닌 아이콘에 올라갔을 경우 바뀜
       3> .major__icon:hover i <- 아이콘만 바뀜 (마우스가 바깥 원 테두리에 올라가도 아이콘만 바뀜) */
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1); /* 마우스를 올릴 경우 아이콘을 왼쪽(-30도)으로 회전 및 크기를 키움 */
}

.major__title, .major__description {
    color: var(--color-dart-grey);
}

.major__description {
    font-size: var(--font-small);
}

.jobs {
    display: flex;
    align-items: center;
}

.job__description{
    margin: 0 16px;
    text-align: left;
}

.job__name, .job__period{
    color: var(--color-light-grey);
}

.job__name{
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

/* Skill */
#skills{
    background-color: var(--color-yellow);
}

.skillset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset__right{
    flex-basis: 40%;
    background-color: var(--color-grey);
}

.skillset__title{
    color: var(--color-white);
}

.skill{
    margin-bottom: 12px;
}
.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill_value {
    /* width: 100%;  각 스킬 마다 값이 다르므로 여기서 정의하면 다 같은 값으로 표시 됨 
                     HTML에 인라인화로 지정해야 함 
                     <div class="skill_value" style="width: 10%;">*/
    height: 3px;
    background-color: var(--color-orange);
}

.tools .etc {
    padding: 20px;
}